body{
    font-family: Arial, sans-serif;
    text-align: center;
}

#gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#gallery img {
    width: 150px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}